[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
host_key_auto_add = True
forks = 5
log_path = ansible.log
stdout_callback = ansible.builtin.default
result_format = yaml

[persistent_connection]
connect_timeout = 30
command_timeout = 30
host_key_checking = False
